<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>审核规则设置</title>
    <link href="{{static_url('plugins/bootstrap-sweetalert/sweet-alert.css')}}" rel="stylesheet" type="text/css">
    <link href="{{static_url('plugins/switchery/switchery.min.css')}}"  rel="stylesheet">
    <link href="{{static_url('plugins/bootstrap-tagsinput/css/bootstrap-tagsinput.css')}}" rel="stylesheet" />
    <link href="{{static_url('plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.min.css')}}" rel="stylesheet" />
    <link href="{{static_url('assets/css/icons.css')}}" rel="stylesheet" type="text/css" />
</head>
<body>
    <p></p>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default panel-border">
                <div class="panel-heading">
                    <h3 class="panel-title">DDL审核规则</h3>
                    <hr>
                </div>
                <div class="panel-body">
                   <div class="row" >
                      <div class="col-md-3">
                             <div class="form-group">
                                <div class="col-md-6 text-right">
                                   <label class="control-label text-left">检测DDL语法及权限</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <input type="checkbox" id="switch_check_ddl"  checked switch="none"/>
                                    <label for="switch_check_ddl" data-on-label="开"  data-off-label="关"></label>
                                </div>
                             </div>
                      </div>
                      <div class="col-md-3">
                           <div class="form-group">
                                <div class="col-md-6 text-right">
                                   <label class="control-label">强制表必须有主键</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <input type="checkbox" id="switch_tab_not_exists_pk"  checked switch="none"/>
                                    <label for="switch_tab_not_exists_pk" data-on-label="开"  data-off-label="关"></label>
                                </div>
                           </div>
                       </div>
                       <div class="col-md-3">
                           <div class="form-group">
                                <div class="col-md-6 text-right">
                                   <label class="control-label">强制主键名为ID</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <input type="checkbox" id="switch_tab_pk_id"  checked switch="none"/>
                                    <label for="switch_tab_pk_id" data-on-label="开"  data-off-label="关"></label>
                                </div>
                           </div>
                       </div>
                       <div class="col-md-3">
                             <div class="form-group">
                                <div class="col-md-6 text-right">
                                   <label class="control-label text-left">强制主键为自增列</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <input type="checkbox" id="switch_tab_pk_auto_incr"  checked  switch="none"/>
                                    <label for="switch_tab_pk_auto_incr" data-on-label="开"  data-off-label="关"></label>
                                </div>
                             </div>
                        </div>
                   </div>
                   <br>
                   <div class="row" >
                       <div class="col-md-3">
                             <div class="form-group">
                                <div class="col-md-6 text-right">
                                   <label class="control-label text-left">强制自增列初始值为1</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <input type="checkbox" id="switch_tab_pk_autoincrement_1"  checked switch="none"/>
                                    <label for="switch_tab_pk_autoincrement_1" data-on-label="开"  data-off-label="关"></label>
                                </div>
                             </div>
                        </div>
                        <div class="col-md-3">
                             <div class="form-group">
                                <div class="col-md-6 text-right">
                                   <label class="control-label">允许主键类型非int/bigint</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <input type="checkbox" id="switch_pk_not_int_bigint"  switch="none"/>
                                    <label for="switch_pk_not_int_bigint" data-on-label="开"  data-off-label="关"></label>
                                </div>
                             </div>
                        </div>
                        <div class="col-md-3">
                             <div class="form-group">
                                <div class="col-md-6 text-right">
                                   <label class="control-label">检查表注释</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <input type="checkbox" id="switch_tab_comment" checked switch="none"/>
                                    <label for="switch_tab_comment" data-on-label="开"  data-off-label="关"></label>
                                </div>

                             </div>
                        </div>
                        <div class="col-md-3">
                             <div class="form-group">
                                <div class="col-md-6 text-right">
                                   <label class="control-label">检查列注释</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <input type="checkbox" id="switch_col_comment" checked switch="none"/>
                                    <label for="switch_col_comment" data-on-label="开"  data-off-label="关"></label>
                                </div>

                             </div>
                        </div>
                   </div>
                   <br>
                   <div class="row">
                       <div class="col-md-3">
                             <div class="form-group">
                                <div class="col-md-6 text-right">
                                   <label class="control-label">检查是否为not null</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <input type="checkbox" id="switch_col_not_null"  checked switch="none"/>
                                    <label for="switch_col_not_null" data-on-label="开"  data-off-label="关"></label>
                                </div>

                             </div>
                        </div>
                        <div class="col-md-3">
                             <div class="form-group">
                                <div class="col-md-6 text-right">
                                   <label class="control-label text-left">检查列默认值</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <input type="checkbox" id="switch_col_default_value" checked switch="none"/>
                                    <label for="switch_col_default_value" data-on-label="开"  data-off-label="关"></label>
                                </div>
                             </div>
                        </div>
                        <div class="col-md-3">
                             <div class="form-group">
                                <div class="col-md-6 text-right">
                                   <label class="control-label text-left">检查时间字段默认值</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <input type="checkbox" id="switch_tcol_default_value" checked switch="none"/>
                                    <label for="switch_tcol_default_value" data-on-label="开"  data-off-label="关"></label>
                                </div>
                             </div>
                        </div>
                        <div class="col-md-3">
                             <div class="form-group">
                                <div class="col-md-6 text-right">
                                   <label class="control-label text-left">字符字段最大长度</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <input class="vertical-spin" id="switch_char_max_len" type="text" value="2000">
                                </div>
                             </div>
                        </div>

                   </div>
                   <br>
                   <div class="row" >
                       <div class="col-md-3">
                             <div class="form-group">
                                <div class="col-md-6 text-right">
                                   <label class="control-label">表必须拥有字段</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <input id='switch_tab_has_time_fields' class="form-control" type="text" value="create_time,update_time">
                                </div>
                             </div>
                      </div>
                      <div class="col-md-3">
                             <div class="form-group">
                                <div class="col-md-6 text-right">
                                   <label class="control-label text-left">时间字段类型为datetime</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <input type="checkbox" id="switch_tab_tcol_datetime"  checked switch="none"/>
                                    <label for="switch_tab_tcol_datetime" data-on-label="开"  data-off-label="关"></label>
                                </div>
                             </div>
                       </div>
                       <div class="col-md-3">
                             <div class="form-group">
                                <div class="col-md-6 text-right">
                                   <label class="control-label text-left">字符列总长度</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <input class="vertical-spin" id="switch_tab_char_total_len" type="text" value="8000">
                                </div>
                             </div>
                      </div>


                   </div>
                   <br>
                   <div class="row" >
                      <div class="col-md-3">
                             <div class="form-group">
                                <div class="col-md-6 text-right">
                                   <label class="control-label text-left">开启表名称规范</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <input type="checkbox" id="switch_tab_name_check"  checked switch="none"/>
                                    <label for="switch_tab_name_check" data-on-label="开"  data-off-label="关"></label>
                                </div>
                             </div>
                       </div>
                       <div class="col-md-3">
                             <div class="form-group">
                                <div class="col-md-6 text-right">
                                   <label class="control-label text-left">开启索引名规范</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <input type="checkbox" id="switch_idx_name_check"  checked switch="none"/>
                                    <label for="switch_idx_name_check" data-on-label="开"  data-off-label="关"></label>
                                </div>
                             </div>
                        </div>
                        <div class="col-md-3">
                             <div class="form-group">
                                <div class="col-md-6 text-right">
                                   <label class="control-label text-left">开启工单名规范</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <input type="checkbox" id="switch_order_check"  checked switch="none"/>
                                    <label for="switch_order_check" data-on-label="开"  data-off-label="关"></label>
                                </div>
                             </div>
                        </div>

                   </div>


                    <br>
                   <div class="row" >
                       <div class="col-md-3">
                             <div class="form-group">
                                <div class="col-md-6 text-right">
                                   <label class="control-label text-left">允许工单多条DDL</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <input type="checkbox" id="switch20"  checked switch="none"/>
                                    <label for="switch20" data-on-label="开"  data-off-label="关"></label>
                                </div>
                             </div>
                        </div>
                       <div class="col-md-3">
                             <div class="form-group">
                                <div class="col-md-6 text-right">
                                   <label class="control-label text-left">允许工单多条DML</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <input type="checkbox" id="switch2020"  checked switch="none"/>
                                    <label for="switch2020" data-on-label="开"  data-off-label="关"></label>
                                </div>
                             </div>
                        </div>
                        <div class="col-md-3">
                             <div class="form-group">
                                <div class="col-md-6 text-right">
                                   <label class="control-label text-left">DDL最大影响行数</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <input class="vertical-spin" type="text" value="10000">
                                </div>
                             </div>
                        </div>

                   </div>


                   <br>
                   <div class="row" >
                       <div class="col-md-3">
                             <div class="form-group">
                                <div class="col-md-6 text-right">
                                   <label class="control-label">允许删除库</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <input type="checkbox" id="switch11"  switch="none"/>
                                    <label for="switch11" data-on-label="开"  data-off-label="关"></label>
                                </div>
                             </div>
                        </div>
                        <div class="col-md-3">
                             <div class="form-group ">
                                <div class="col-md-6 text-right">
                                   <label class="control-label text-left">允许删除表</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <input type="checkbox" id="switch8"  switch="none"/>
                                    <label for="switch8" data-on-label="开"  data-off-label="关"></label>
                                </div>
                             </div>
                        </div>

                   </div>
                   <br>
                   <div class="row" >
                       <div class="col-md-3">
                             <div class="form-group">
                                <div class="col-md-6 text-right">
                                   <label class="control-label text-left">允许便用虚拟列</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <input type="checkbox" id="switch_virtual_col"   switch="none"/>
                                    <label for="switch_virtual_col" data-on-label="开"  data-off-label="关"></label>
                                </div>
                             </div>
                        </div>
                        <div class="col-md-3">
                             <div class="form-group">
                                <div class="col-md-6 text-right">
                                   <label class="control-label text-left">是否允许跨库表迁移</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <input type="checkbox" id="switch14"  switch="none"/>
                                    <label for="switch14" data-on-label="开"  data-off-label="关"></label>
                                </div>
                             </div>
                        </div>
                        <div class="col-md-3">
                             <div class="form-group">
                                <div class="col-md-6 text-right">
                                   <label class="control-label text-left">允许设置排列顺序</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <input type="checkbox" id="switch15"   switch="none"/>
                                    <label for="switch15" data-on-label="开"  data-off-label="关"></label>
                                </div>
                             </div>
                        </div>
                        <div class="col-md-3">
                             <div class="form-group">
                                <div class="col-md-6 text-right">
                                   <label class="control-label">允许设置字符集</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <input type="checkbox" id="switch17"  checked switch="none"/>
                                    <label for="switch17" data-on-label="开"  data-off-label="关"></label>
                                </div>
                             </div>
                        </div>

                    </div>
                   <br>
                   <div class="row" >
                        <div class="col-md-3">
                             <div class="form-group">
                                <div class="col-md-6 text-right">
                                   <label class="control-label text-left">允许表字符集范围</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <input class="form-control" type="text" value="utf8mb4">
                                </div>
                             </div>
                        </div>
                       <div class="col-md-3">
                             <div class="form-group">
                                <div class="col-md-6 text-right">
                                   <label class="control-label text-left">允许设置列字符集</label>
                                </div>
                                 <div class="col-md-6 text-left">
                                    <input type="checkbox" id="switch_col_charset"   switch="none"/>
                                    <label for="switch_col_charset" data-on-label="开"  data-off-label="关"></label>
                                </div>
                             </div>
                        </div>
                        <div class="col-md-3">
                             <div class="form-group">
                                <div class="col-md-6 text-right">
                                   <label class="control-label text-left">禁止使用触发器</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <input type="checkbox" id="switch_disable_trigger"  checked switch="none"/>
                                    <label for="switch_disable_trigger" data-on-label="开"  data-off-label="关"></label>
                                </div>
                             </div>
                        </div>

                   </div>
                   <br>

                   <div class="row" >
                        <div class="col-md-3">
                             <div class="form-group">
                                <div class="col-md-6 text-right">
                                   <label class="control-label text-left">打开OSC</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <input type="checkbox" id="switch24"   switch="none"/>
                                    <label for="switch24" data-on-label="开"  data-off-label="关"></label>
                                </div>
                             </div>
                        </div>
                   </div>
                   <br>
                </div>
                <br>
            </div>
        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-border panel-brown">
                <div class="panel-heading">
                    <h3 class="panel-title">表名规范</h3>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row" >
                        <div class="col-md-3">
                             <div class="form-group">
                                <div class="col-md-6 text-right">
                                   <label class="control-label text-left">表名最大长度</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <input class="switch_tab_max_len" id="switch_tab_max_len" type="text" value="60">
                                </div>
                             </div>
                        </div>
                        <div class="col-md-3">
                             <div class="form-group">
                                <div class="col-md-6 text-right">
                                   <label class="control-label text-left">表名不能以数字开头</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <input type="checkbox" id="switch_tab_not_digit_first"  checked switch="none"/>
                                    <label for="switch_tab_not_digit_first" data-on-label="开"  data-off-label="关"></label>
                                </div>

                             </div>
                        </div>

                        <div class="col-md-6">
                             <div class="form-group">
                                <div class="col-md-2 text-right">
                                   <label class="control-label text-left">表名禁止前后缀</label>
                                </div>
                                <div class="col-md-10 text-left">
                                    <input class="form-control" id="switch_tab_disable_suffix" type="text" value="sys、bak、temp、tmp、yyyymmdd、yyyy_mm_dd">
                                </div>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-border panel-brown">
                <div class="panel-heading">
                    <h3 class="panel-title">索引规范</h3>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row" >
                         <div class="col-md-3">
                             <div class="form-group">
                                <div class="col-md-6 text-right">
                                   <label class="control-label text-left">允许索引名为空</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <input type="checkbox" id="switch13" checked switch="none"/>
                                    <label for="switch13" data-on-label="开"  data-off-label="关"></label>
                                </div>
                             </div>
                         </div>
                         <div class="col-md-3">
                             <div class="form-group">
                                <div class="col-md-6 text-right">
                                   <label class="control-label text-left">单表索引数上限</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <input class="vertical-spin" type="text" value="5">
                                </div>
                             </div>
                        </div>
                        <div class="col-md-3">
                             <div class="form-group">
                                <div class="col-md-6 text-right">
                                   <label class="control-label">单个索引字段上限</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <input class="vertical-spin" type="text" value="5">
                                </div>
                             </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default panel-border">
                <div class="panel-heading">
                    <h3 class="panel-title">DML审核规则</h3>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row" >
                        <div class="col-md-3">
                             <div class="form-group">
                                <div class="col-md-6 text-right">
                                   <label class="control-label">检查DML语句where条件</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <input type="checkbox" id="switch200"  switch="none"/>
                                    <label for="switch200" data-on-label="开"  data-off-label="关"></label>
                                </div>

                             </div>
                        </div>
                        <div class="col-md-3">
                             <div class="form-group">
                                <div class="col-md-6 text-right">
                                   <label class="control-label text-left">DML语句禁用order</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <input type="checkbox" id="switch201"  checked switch="none"/>
                                    <label for="switch201" data-on-label="开"  data-off-label="关"></label>
                                </div>

                             </div>
                        </div>
                        <div class="col-md-3">
                             <div class="form-group">
                                <div class="col-md-6 text-right">
                                   <label class="control-label text-left">DML语句禁用select</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <input type="checkbox" id="switch202"  switch="none"/>
                                    <label for="switch202" data-on-label="开"  data-off-label="关"></label>
                                </div>
                             </div>
                        </div>
                        <div class="col-md-3">
                             <div class="form-group">
                                <div class="col-md-6 text-right">
                                   <label class="control-label text-left">DML最大影响行数</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <input class="vertical-spin" type="text" value="10000">
                                </div>
                             </div>
                        </div>
                    </div>
                    <br>
                    <div class="row" >
                        <div class="col-md-3">
                             <div class="form-group">
                                <div class="col-md-6 text-right">
                                   <label class="control-label text-left">Insert语句字段上限</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <input class="vertical-spin" type="text" value="100">
                                </div>
                             </div>
                        </div>
                        <div class="col-md-3">
                             <div class="form-group">
                                <div class="col-md-6 text-right">
                                   <label class="control-label">检查插入语句存在列名</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <input type="checkbox" id="switch6" checked switch="none"/>
                                    <label for="switch6" data-on-label="开"  data-off-label="关"></label>
                                </div>
                             </div>
                        </div>
                        <div class="col-md-3">
                             <div class="form-group">
                                <div class="col-md-6 text-right">
                                   <label class="control-label text-left">检查dml语句where条件</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <input type="checkbox" id="switch9" checked switch="none"/>
                                    <label for="switch9" data-on-label="开"  data-off-label="关"></label>
                                </div>
                             </div>
                        </div>
                        <div class="col-md-3">
                             <div class="form-group">
                                <div class="col-md-6 text-right">
                                   <label class="control-label text-left">允许字段类型转换</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <input type="checkbox" id="switch23"  checked switch="none"/>
                                    <label for="switch23" data-on-label="开"  data-off-label="关"></label>
                                </div>
                             </div>
                        </div>

                   </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default panel-border">
                <div class="panel-heading">
                    <h3 class="panel-title">SQL查询规则</h3>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row" >
                        <div class="col-md-3">
                             <div class="form-group">
                                <div class="col-md-6 text-right">
                                   <label class="control-label">查询最大行数</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <input class="vertical-spin" type="text" value="1000">
                                </div>

                             </div>
                        </div>

                        <div class="col-md-3">
                             <div class="form-group">
                                <div class="col-md-6 text-right">
                                   <label class="control-label text-left">查询超时时间</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <input class="vertical-spin" type="text" value="60">
                                </div>

                             </div>
                        </div>
                        <div class="col-md-3">
                             <div class="form-group">
                                <div class="col-md-6 text-right">
                                   <label class="control-label text-left">敏感列设置</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <input class="form-control" type="text" value="">
                                </div>
                             </div>
                        </div>

                   </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="col-lg-12">
        <div class="panel panel-border panel-pink">
            <div class="panel-heading">
                <h3 class="panel-title">注意事项</h3>
            </div>
            <div class="panel-body">
                <ul>
                    <li>1.数值型规则0值都为不受限制。 </li>
                    <li>2.开启检查时间字段默认值,所有时间类型字段都必须设置默认值且默认值必须为CURRENT_TIMESTAMP。 </li>
                    <li>3.osc相关规则请参考相关工具参数说明。 </li>
                    <li>4.受制于各种条件影响, 影响行数判断并不一定准确,仅作为部分参考。 </li>
                    <li>5.OSCMinTableSize当表体积大于该值时如果启动osc则走osc执行。 </li>
                    <li>6.排序/字符集/建表必须拥有字段设置 请使用逗号分隔多个值 。 </li>
                </ul>

            </div>
        </div>
    </div>
    <br>
    <div class="form-group">
        <div class="col-sm-offset-5 col-sm-9">
          <button id="save" type="button" class="btn btn-custom waves-effect waves-light btn-md">保存</button>
        </div>
    </div>
    <!-- end row -->

    <script src="{{static_url('plugins/bootstrap-sweetalert/sweet-alert.min.js')}}"></script>
    <script src="{{static_url('plugins/switchery/switchery.min.js')}}"></script>
    <script src="{{static_url('assets/js/jquery.core.js')}}"></script>
    <script src="{{static_url('plugins/bootstrap-tagsinput/js/bootstrap-tagsinput.min.js')}}"></script>
    <script src="{{static_url('plugins/bootstrap-select/js/bootstrap-select.min.js')}}" type="text/javascript"></script>
    <script src="{{static_url('plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.min.js')}}" type="text/javascript"></script>

    <script>
      $(document).ready(function() {
            $(".vertical-spin").TouchSpin({
                verticalbuttons:    true,
                verticalupclass:   'ion-plus-round',
                verticaldownclass: 'ion-minus-round'
            });
      });

      $('#switch_pk_not_int_bigint').change(function(){

          if ($('#switch_pk_not_int_bigint').is(":checked")) {
              $('#switch_tab_pk_auto_incr').prop({checked:false});
              $('#switch_tab_pk_autoincrement_1').prop({checked:false});
          } else {
              $('#switch_tab_pk_auto_incr').prop({checked:true});
              $('#switch_tab_pk_autoincrement_1').prop({checked:true});
          }

      });

      $('#switch_check_ddl').change(function(){
          if ($('#switch_check_ddl').is(":checked")) {
              $('#switch_check_ddl').prop({checked:true});
          } else {
              $('#switch_check_ddl').prop({checked:true});
          }
      });

      $('#switch_tab_name_check').change(function(){
          if ($('#switch_tab_name_check').is(":checked")) {
                $('#switch_tab_max_len').prop({disabled:false});
                $('#switch_tab_not_digit_first').prop({checked:true});
                $('#switch_tab_disable_suffix').prop({disabled:false});
          } else {
                $('#switch_tab_max_len').prop({disabled:true});
                $('#switch_tab_not_digit_first').prop({checked:false});
                $('#switch_tab_disable_suffix').prop({disabled:true});
          }
      });


      $("#save").click(function () {

          $.ajax({
            url: "/sys/audit_rule/save",
            type: "post",
            datatype: "json",
            data: {
                switch_tab_not_exists_pk        : $('#switch_tab_not_exists_pk').is(":checked"),
                switch_tab_pk_id                : $('#switch_tab_pk_id').is(":checked"),
                switch_tab_pk_auto_incr         : $('#switch_tab_pk_auto_incr').is(":checked"),
                switch_tab_pk_autoincrement_1   : $('#switch_tab_pk_autoincrement_1').is(":checked"),

                switch_pk_not_int_bigint        : $('#switch_pk_not_int_bigint').is(":checked"),
                switch_tab_comment              : $('#switch_tab_comment').is(":checked"),
                switch_col_comment              : $('#switch_col_comment').is(":checked"),
                switch_col_not_null             : $('#switch_col_not_null').is(":checked"),

                switch_col_default_value        : $('#switch_col_default_value').is(":checked"),
                switch_tcol_default_value       : $('#switch_tcol_default_value').is(":checked"),
                switch_char_max_len             : $('#switch_char_max_len').val(),
                switch_tab_has_time_fields      : $('#switch_tab_has_time_fields').val(),

                switch_tab_tcol_datetime        : $('#switch_tab_tcol_datetime').is(":checked"),
                switch_tab_char_total_len       : $('#switch_tab_char_total_len').val(),
                switch_check_ddl                : $('#switch_check_ddl').is(":checked"),
                switch_virtual_col              : $('#switch_virtual_col').is(":checked"),

                switch_tab_max_len              : $('#switch_tab_max_len').val(),

            },
            success: function (dataSet) {
                console.log(dataSet.code, dataSet.message);
                if (dataSet.code==0) {
                   swal("变更成功", "", "success")
                } else {
                   swal(dataSet.message, "", "error")
                }
            }
         });
      });

   </script>
</body>

</html>