<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!-- App favicon -->
    <link rel="shortcut icon" href="{{ static_url('assets/images/favicon.ico')}}">
    <!-- App title -->
    <title>数据源变更</title>
    <link rel="stylesheet" href="{{static_url('plugins/morris/morris.css')}}">
    <link href="{{static_url('plugins/timepicker/bootstrap-timepicker.min.css')}}" rel="stylesheet">
    <link href="{{static_url('plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css')}}" rel="stylesheet">
    <link href="{{static_url('plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css')}}" rel="stylesheet">
    <link href="{{static_url('plugins/clockpicker/css/bootstrap-clockpicker.min.css')}}" rel="stylesheet">
    <link href="{{static_url('plugins/bootstrap-daterangepicker/daterangepicker.css')}}" rel="stylesheet">
    <script src="{{static_url('assets/js/modernizr.min.js')}}"></script>
    <!-- Sweet Alert -->
    <link href="{{static_url('plugins/bootstrap-sweetalert/sweet-alert.css')}}" rel="stylesheet" type="text/css">
</head>
<body>
  <p></p>
   <div class="col-md-6">
       <form class="form-horizontal" role="form">
           <input  id="dsid" type="hidden" name="dsid" value={{dsid}} >
           <div class="form-group">
                <div>
                    <label class="col-md-2 control-label">项目编码名</label>
                </div>
               <div class="col-md-10">
                    <select class="form-control select" id="market_id" >
                        <option value='' selected = "selected">......</option>
                         {% for var in dm_proj_type %}
                               {%  if var[0]==market_id %}
                                  <option value={{var[0]}} selected = "selected">{{var[1]}}</option>
                               {% else %}
                                   <option value={{var[0]}}>{{var[1]}}</option>
                               {% end %}
                         {% end %}
                    </select>
               </div>
           </div>
           <div class="form-group">
                <div>
                    <label class="col-md-2 control-label">数据库实例</label>
                </div>
                <div class="col-md-10">
                    <select class="form-control select" id="inst_type" >
                          <option value='' selected = "selected">......</option>
                          {% for var in dm_inst_type %}
                              {%  if var[0]==inst_type %}
                                  <option value={{var[0]}} selected = "selected">{{var[1]}}</option>
                              {% else %}
                                   <option value={{var[0]}}>{{var[1]}}</option>
                              {% end %}
                          {% end %}
                    </select>
               </div>
           </div>
           <div class="form-group">
                <div>
                    <label class="col-md-2 control-label">数据库类型</label>
                </div>
                <div class="col-md-10">
                    <select class="form-control select" id="db_type" >
                           {% for var in dm_db_type %}
                               {%  if var[0]==db_type %}
                                  <option value={{var[0]}} selected = "selected">{{var[1]}}</option>
                               {% else %}
                                   <option value={{var[0]}}>{{var[1]}}</option>
                               {% end %}
                            {% end %}
                    </select>
               </div>
           </div>
           <div class="form-group">
                <div>
                    <label class="col-md-2 control-label">数据库环境</label>
                </div>
                <div class="col-md-10">
                    <select class="form-control select" id="db_env" >
                           {% for var in dm_db_env %}
                               {%  if var[0]==db_env %}
                                  <option value={{var[0]}} selected = "selected">{{var[1]}}</option>
                               {% else %}
                                   <option value={{var[0]}}>{{var[1]}}</option>
                               {% end %}
                            {% end %}
                    </select>
               </div>
           </div>
           <div class="form-group">
                <div>
                    <label class="col-md-2 control-label">数据源描述</label>
                </div>
                <div class="col-md-10">
                    <input id="db_desc" type="text" class="form-control" placeholder="请输入数据源描述" value="{{db_desc}}">
                </div>
           </div>
           <div class="form-group">
                <div>
                    <label class="col-md-2 control-label">数据源地址</label>
                </div>
                <div class="col-md-10">
                    <input id="ip" type="text" class="form-control" value="{{ip}}">
                </div>
           </div>
           <div class="form-group">
                <div>
                    <label class="col-md-2 control-label">数据源端口</label>
                </div>
                <div class="col-md-10">
                    <input id="port" type="text" class="form-control" value="{{port}}">
                </div>
           </div>
           <div class="form-group">
                <div>
                    <label class="col-md-2 control-label">数据源服务名</label>
                </div>
                <div class="col-md-10">
                    <input id="service" type="text" class="form-control" value="{{service}}">
                </div>
           </div>
           <div class="form-group">
                <div>
                    <label class="col-md-2 control-label">数据源用户</label>
                </div>
                <div class="col-md-10">
                    <input id="user" type="text" class="form-control" value="{{user}}">
                </div>
           </div>
           <div class="form-group">
                <div>
                    <label class="col-md-2 control-label">数据源口令</label>
                </div>
                <div class="col-md-10">
                    <input id="pass" name="pass" type="password" class="form-control" value="{{password}}">
                </div>
           </div>

           <div class="form-group">
                <div>
                    <label class="col-md-2 control-label">数据源状态</label>
                </div>
               <div class="col-md-10">
                    <select class="form-control select" id="status" name="status">
                        {% if status=='1' %}
                           <option value="1" selected = "selected">启用</option>
                           <option value="0">禁用</option>
                        {% end %}

                        {% if status=='0' %}
                            <option value='0' selected = "selected">禁用</option>
                            <option value="1">启用</option>
                        {% end %}
                    </select>
               </div>
           </div>
           <br>
           <div class="form-group m-b-0">
                <div class="col-sm-offset-6 col-sm-9">
                  <button id="save" type="button" class="btn btn-custom waves-effect waves-light btn-md">变更</button>
                  <button id="return" type="button" class="btn btn-custom waves-effect waves-light btn-md">返回</button>
                </div>
           </div>
       </form>
    </div>

    <!-- jQuery  -->
    <script src="{{static_url('plugins/moment/moment.js')}}"></script>
    <script src="{{static_url('plugins/timepicker/bootstrap-timepicker.js')}}"></script>
    <script src="{{static_url('plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js')}}"></script>
    <script src="{{static_url('plugins/bootstrap-datepicker/js/locales/bootstrap-datepicker.zh-CN.js')}}"></script>
    <script src="{{static_url('plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js')}}"></script>
    <script src="{{static_url('plugins/clockpicker/js/bootstrap-clockpicker.min.js')}}"></script>
    <script src="{{static_url('plugins/bootstrap-daterangepicker/daterangepicker.js')}}"></script>

    <!-- Counter js  -->
    <script src="{{static_url('plugins/waypoints/jquery.waypoints.min.js')}}"></script>
    <script src="{{static_url('plugins/counterup/jquery.counterup.min.js')}}"></script>
    <script src="{{static_url('plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js')}}"></script>

    <!-- Sweet-Alert  -->
    <script src="{{static_url('plugins/bootstrap-sweetalert/sweet-alert.min.js')}}"></script>

    <!-- Init js -->
    <script src="{{static_url('assets/pages/jquery.form-pickers.init.js')}}"></script>

    <script>

        $('#return').on('click', function() {
           $('#main-container-div').load('/ds/change');
        });

        $("#save").click(function () {
          console.log(" status:",$('#status').val())
          $.ajax({
            url: "/ds/edit/save",
            type: "post",
            datatype: "json",
            data: {
                    market_id  :$('#market_id').val(),
                    inst_type  :$('#inst_type').val(),
                    dsid       :$('#dsid').val(),
                    db_type    :$('#db_type').val(),
                    db_env     :$('#db_env').val(),
                    db_desc    :$('#db_desc').val(),
                    ip         :$('#ip').val(),
                    port       :$('#port').val(),
                    service    :$('#service').val(),
                    user       :$('#user').val(),
                    pass       :$('#pass').val(),
                    status     :$('#status').val(),
            },
            success: function (dataSet) {
                console.log(dataSet.code, dataSet.message);
                if (dataSet.code==0) {
                   swal("变更成功", "", "success")
                } else {
                   swal(dataSet.message, "", "error")
                }
            }
         });
      });

   </script>
</body>

</html>