<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>新增端口</title>
    <!-- Sweet Alert -->
    <link href="{{static_url('plugins/bootstrap-sweetalert/sweet-alert.css')}}" rel="stylesheet" type="text/css">
</head>
<body>
   <p></p>
   <div class="col-md-6">
       <form class="form-horizontal" role="form">
           <div class="form-group">
                <div>
                    <label class="col-md-2 control-label"><span id="s_app_name">*</span>应用名</label>
                </div>
                <div class="col-md-10">
                    <input id="app_name"  type="text" class="form-control" placeholder="请输入应用名">
                </div>
           </div>
           <div class="form-group">
                <div>
                    <label class="col-md-2 control-label"><span id="s_app_port">*</span>端口号</label>
                </div>
                <div class="col-md-10">
                    <input id="app_port"  type="text" class="form-control" placeholder="请输端口号">
                </div>
           </div>

           <div class="form-group">
                <div>
                    <label class="col-md-2 control-label"><span id="s_app_dev">*</span>开发者</label>
                </div>
               <div class="col-md-10">
                    <select class="form-control select" id="app_dev" >
                        <option value='' selected = "selected">......</option>
                         {% for var in developer %}
                          <option value={{var[0]}} >{{var[1]}}</option>
                         {% end %}
                    </select>
               </div>
           </div>

           <div class="form-group">
                <div>
                    <label class="col-md-2 control-label"><span id="s_app_desc">*</span>应用描述</label>
                </div>
                <div class="col-md-10">
                    <input id="app_desc"  type="text" class="form-control" placeholder="请输入应用描述" >
                </div>
           </div>
           <div class="form-group">
                <div>
                    <label class="col-md-2 control-label">附加信息</label>
                </div>
                <div class="col-md-10">
                    <input id="app_ext"  type="text" class="form-control" placeholder="请输入附加信息" >
                </div>
           </div>
           <br>
           <div class="form-group m-b-0">
                <div class="col-sm-offset-6 col-sm-9">
                  <button id="add" type="button" class="btn btn-custom waves-effect waves-light btn-md">保存</button>
                </div>
           </div>
       </form>
    </div>

    <!-- Sweet-Alert  -->
    <script src="{{static_url('plugins/bootstrap-sweetalert/sweet-alert.min.js')}}"></script>

    <script>

        function set_selected(){
            document.all['s_app_name'].style.color="#ff0000";
            document.all['s_app_port'].style.color="#ff0000";
            document.all['s_app_dev'].style.color="#ff0000";
            document.all['s_app_desc'].style.color="#ff0000";
        }

        $(document).ready(function() {

          set_selected()

          $("#add").click(function () {
            $.ajax({
                url: "/port/add/save",
                type: "post",
                datatype: "json",
                data: {
                    app_name   : $('#app_name').val(),
                    app_port   : $('#app_port').val(),
                    app_dev    : $('#app_dev').val(),
                    app_desc   : $('#app_desc').val(),
                    app_ext    : $('#app_ext').val()
                },
                success: function (dataSet) {
                    console.log(dataSet.code, dataSet.message);
                    if (dataSet.code==0) {
                       swal("保存成功", "", "success")
                    } else {
                       swal(dataSet.message, "", "error")
                    }
                }
             });
          });

        });

   </script>
</body>

</html>