<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>角色新增</title>
    <link href="{{static_url('plugins/bootstrap-sweetalert/sweet-alert.css')}}" rel="stylesheet" type="text/css">
    <style>
        #ra_sele_sys_priv {
            height: 290px;
            max-height: 290px;
        }
        #ra_sele_role_priv {
            height: 190px;
            max-height: 190px;
        }
    </style>
</head>
<body>
   <p></p>
   <div class="col-md-6">
       <form class="form-horizontal" role="form">
           <div class="form-group">
                <div>
                    <label class="col-md-2 control-label"><span id="s_role_name">*</span>角色名称</label>
                </div>
                <div class="col-md-10">
                    <input id="name"  type="text" class="form-control" placeholder="请输入角色名称">
                </div>
           </div>
           <div class="form-group">
                <div>
                    <label class="col-md-2 control-label"><span id="s_role_status">*</span>角色状态</label>
                </div>
               <div class="col-md-10">
                    <select class="form-control select" id="status" name="status">
                        <option value="1">启用</option>
                        <option value="0">禁用</option>
                    </select>
               </div>
            </div>
           <div class="form-group">
                <div>
                    <label class="col-md-2 control-label">系统权限</label>
                </div>
                <div class="col-md-10">
                    <select multiple="multiple" class="form-control" id="ra_sele_sys_priv" >
                        {% for var in privs %}
                           <option value={{var[0]}} >{{var[1]}}</option>
                        {% end %}
                    </select>
                </div>
           </div>

           <div class="form-group">
                <div>
                    <label class="col-md-2 control-label"><span id="s_ra_sele_role_priv">*</span>角色权限</label>
                </div>
                <div class="col-md-10">
                    <select multiple="multiple" class="form-control" id="ra_sele_role_priv" >
                    </select>
                </div>

           </div>
           <br>
           <div class="form-group m-b-0">
                <div class="col-sm-offset-6 col-sm-9">
                  <button id="add" type="button" class="btn btn-custom waves-effect waves-light btn-md">保存</button>
                </div>
           </div>
       </form>
    </div>

    <!-- Sweet-Alert  -->
    <script src="{{static_url('plugins/bootstrap-sweetalert/sweet-alert.min.js')}}"></script>


    <script>
        function set_selected(){
            document.all['s_role_name'].style.color="#ff0000";
            document.all['s_role_status'].style.color="#ff0000";
            document.all['s_ra_sele_role_priv'].style.color="#ff0000";
        }

        $(document).ready(function() {

         set_selected()
         // console.log('---------------------------------------------0')
         // console.log($('#ra_sele_sys_priv option').length,$('#ra_sele_role_priv option').length)
         //  var options1=$('#ra_sele_sys_priv option');
         //  if(options1.length>0){
         //    for (var i=0;i<options1.length;i++){
         //          value=$(options1[i]).val();
         //          text =$(options1[i]).text();
         //          console.log(value,text)
         //      }
         //  }
         // console.log('---------------------------------------------1')
         // var options2=$('#ra_sele_role_priv option');
         // if(options2.length>0){
         //    for (var i=0;i<options2.length;i++){
         //          value=$(options2[i]).val();
         //          text =$(options2[i]).text();
         //          console.log(value,text)
         //      }
         //  }
         // console.log('---------------------------------------------2')

         $("#ra_sele_sys_priv").click(function () {
               options=$('#ra_sele_sys_priv option:selected');
               if(options.length>0){
                for (var i=0;i<options.length;i++){
                      value=$(options[i]).val();
                      text =$(options[i]).text();
                      $('#ra_sele_role_priv').append("<option value='"+value+"'>"+text+"</option>");
                }
                $('#ra_sele_sys_priv option:selected').remove();
               }
          });

          $("#ra_sele_role_priv").click(function () {
               options=$('#ra_sele_role_priv option:selected');
               if(options.length>0){
                for (var i=0;i<options.length;i++){
                      value=$(options[i]).val();
                      text =$(options[i]).text();
                      $('#ra_sele_sys_priv').append("<option value='"+value+"'>"+text+"</option>");
                }
                $('#ra_sele_role_priv option:selected').remove();
               }
          });

          function get_privs(){
             var tmp='';
             var val='';
             $('#ra_sele_role_priv option').each(function(){
               val=$(this).val();
               tmp=tmp+','+val;
             });
             return tmp.substr(1);
          };

          $("#add").click(function () {
            $.ajax({
                url: "/role/add/save",
                type: "post",
                datatype: "json",
                data: {
                     name  : $('#name').val(),
                     status: $('#status').val(),
                     privs : get_privs()
                },
                success: function (dataSet) {
                    console.log(dataSet.code, dataSet.message);
                    if (dataSet.code==0) {
                       swal("保存成功", "", "success")
                    } else {
                       swal(dataSet.message, "", "error")
                    }
                }
             });
          });

        });

   </script>
</body>

</html>